name: "Main"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch: { }

jobs:
  build:

    runs-on: "ubuntu-latest"

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: "write"      # to deploy to Pages
      id-token: "write"   # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: "github-pages"
      # url: "${{ steps.deployment.outputs.page_url }}"

    steps:
      - uses: "actions/checkout@v4"

      - uses: "actions/setup-python@v4"
        with:
          python-version: "3.11"
          cache: "pip"

      - run: "pip install -r requirements.txt"

      - uses: "Yeicor/cadquery-action@v2.0.1"
        with:
          scripts: "main.py"
          # formats: "STL|STEP|AMF|SVG|TJS|DXF|VRML|VTP|3MF|GLTF"
          # website: "."
          # website-screenshot: "true"




